body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial; 
}

.calendar-day-layout {
  height: 720px;
  width: 600px;
  padding: 0 10px;
  display: inline-block;
  background: #F1F1F1;
}

.calendar-event {
  position: absolute;
  background: #FFF;
}

.calendar-event::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 3px;
  background: #3B5998;
}

.calendar-day-time {
  position: absolute;
  float: right;
  font-size: 8px;
  color: #808080;
  width: inherit;
}

.calendar-day-times {
  height: 720px;
  width: 55px;
  float: left;
}

.location,
.title {
  margin: 0 5px;
}

.location {
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 9px;
}

.on-hour {
  position: absolute;
  left: 7px;
  font-size: 11px;
  font-weight: 700;
}

.calendar-day-time span:not(.on-hour) {
  position: absolute;
  top: 3px;
  right: 5px;
  margin-left: 5px;
}


.title {
  margin-top: 5px;
  color: #3B5998;
  font-size: 12px;
  font-weight: 600;
}

